[Desktop Entry]
Type=Application
Encoding=UTF-8
Name= Turn on standby
Exec=python /home/pi/AutoTub/hottub.py
Icon=/home/pi/AutoTub/desktopicons/icons/timer-24px.svg
Terminal=true
