[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=What is the temperature?
Exec=python /home/pi/AutoTub/testscripts/hellotemp.py
Icon=/home/pi/AutoTub/desktopicons/icons/speed-24px.svg
Terminal=true