[Desktop Entry]
Type=Application
Encoding=UTF-8
Name="test icon"
Exec=python /home/pi/AutoTub/testscripts/icontest.py
Icon=/home/pi/AutoTub/desktopicons/icons/cancel-24px.svg
Terminal=true